/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 992px) {
  :root {
    background-color: #f1f5fa;
  }
}

body {
  margin: 0;
  background-color: #f1f5fa;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-pagination {
  position: absolute;
  left: calc(50% - 50px) !important;
  width: 100px !important;
  height: 29px;
}

.swiper-pagination-bullet-active {
  --rk-colors-accentColor: black !important;
  --swiper-theme-color: black !important;
}